#desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    height: 12vh;
    background: transparent;
    backdrop-filter: blur(8px);
    color: var(--text-color);
    transition: background 0.4s ease, box-shadow 0.4s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.sticky {
    background: rgba(20, 20, 20, 0.7);
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--accent-color);
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-links a {
    position: relative;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: var(--accent-color);
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: var(--accent-color);
}

.nav-links a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {

  /* === Navbar === */
  #desktop-nav {
    justify-content: space-around;
    flex-direction: column;
    padding: 0.5rem ;
  }
  a{
    /* background: #f7f5b140; */
    border-radius: 10px;padding: 4px;
  }
  .nav-links {
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 10px;
  }
  .nav-links li {
    margin: 0;

  }
  .logo {
    font-size: 1.2rem;
    text-align: center;
  }
}